<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/productEdition.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

<!-- Register form -->

<main>
    <section class="editproduct-Section">
        <h2>Edit listing</h2>
        <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" class="register-form-New-Product" enctype="multipart/form-data">
            <div class="container-inputs">
                <article class="productNameContainer">
                <label for="productName">Product Name</label>
                    <input type="text" name="productName" class="productName" value="<%= product.name %>">
                </article>
                <article class="productDescriptionConteiner">
                    <label for="productDescription">Description</label>
                    <textarea name="productDescription" placeholder=" <%= product.description %>"> <%= product.description %></textarea>
                </article>
                <article class="productExtraInfoConteiner">
                    <label for="extraInfo">Extra Info</label>
                    <textarea type="text" name="extraInfo" placeholder=" <%= product.extraInfo %>"><%= product.extraInfo %></textarea>
                </article>
            </div>
            <div class="second-container-inputs">
                <article class="productPriceContainer" >
                    <label for="productPrice">Price</label>
                        <input type="text" name="productPrice" class="inputPrice" value="<%= product.price %>" placeholder="<%= product.price %>" >
                </article>
                <article class="product-Categories-Container">
                    <label for="product-Categories">Categories</label>
                        <Select class="product-Categories" name="product-Categories" value="<%= product.category %>">
                            <option value="Modules&Cases">Modules & Cases</option>
                            <option value="Senquencers">Senquencers</option>
                            <option value="Accesories">Accesories</option>
                            <option value="Effects">Effects</option>
                            <option value="WeirdGear">Weird Gear</option>
                            <option value="NewReleases">New Releases</option>
                        </Select>
                </article>
            </div>
            <article class="product-Images-Container">
                <section class="product-Images">
                    <label for="Load-files">Images</label>
                        <input type="file" name="Load-files" class="btn-File-Select" multiple accept=".jpg, .png" >
                            <img src="/img/products/<%= product.img %>">

                </section>
            <button type="submit" class="btn-modify-product">
                Modify listing
            </button> <!--Agregué estas dos líneas de abajo. Chequear-->
            </form>
    </section>

</main>


<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>
