<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/productEdition.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

<!-- Register form -->

<main>
    <section class="newProduct-Section">
        <h2>Edit listing</h2>
        <form action="register" method="POST" class="register-form-New-Product">
            <div class="container-inputs">
                <article class="productNameContainer">
                <label for="productName">Product Name</label>
                    <input type="text" name="productName" class="productName" placeholder= <%= product.name %>>
                </article>
                <article class="productDescriptionConteiner">
                    <label for="productDescription">Description</label>
                    <textarea name="productDescription" placeholder= <%= product.description %> ></textarea>
                </article>
                <article class="productExtraInfoConteiner">
                    <label for="extraInfo">Extra Info</label>
                    <textarea type="text" name="extraInfo" placeholder= <%= product.extraInfo %> ></textarea>
                </article>
            </div>
            <div class="second-container-inputs">
                <article class="productPriceContainer" >
                    <label for="productPrice">Price</label>
                        <input type="text" name="productPrice" class="inputPrice" placeholder= <%= product.price %> >
                </article>
                <article class="product-Categories-Container">
                    <label for="product-Categories">Categories</label>
                        <Select class="product-Categories" name="product-Categories" placeholder= <%= product.category %> >
                            <option value="Modules&Cases">Modules & Cases</option>
                            <option value="Senquencers">Senquencers</option>
                            <option value="Accesories">Accesories</option>
                            <option value="Effects">Effects</option>
                            <option value="WeirdGear">Weird Gear</option>
                            <option value="NewReleases">New Releases</option>
                        </Select>
                </article>
            </div>
            <article class="product-Images-Container">
                <section class="product-Images">
                    <label for="Load-files">Images</label>
                        <input type="file" name="Load-files" class="btn-File-Select" multiple accept=".jpg, .png">
                </section>
                <section class="imagesToAdd">
                    <img src="/img/new-releases1.jpeg"class="imgMini">
                    <img src="/img/weird-gear2.jpeg" class="imgMini">
                    <img src="/img/Drum-Seq.jpeg"class="imgMini">
                    <img src="/img/modular-categories.jpg"class="imgMini">
                </section>
            </article>
            <button type="submit" class="btn-modify-product">
                Modify listing
            </button> <!--Agregué estas dos líneas de abajo. Chequear-->
            <form action="/products/delete/<%= products[i].id %>?_method=DELETE :id" method="POST" style="display: inline-flex"></form>
            <button type="submit" class="btn-modify-product">
                Delete product
            </button>
            </form>
        </form>
    </section>

</main>


<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>
