<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/shop.css" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %>
<main>
<!-- product list -->
    <section class="popular-products">
        <h2>Users List</h2>
        <div class="product-list">
        <% users.forEach((user) => { %>
        
        <article class="product-article">
            <a href = "/users/<%= user.id %>">
            <div class="product-img-container">
                <img class="product-image" src="/img/users/<%= user.image %> ">
            </div>
            <div class="price-name">
                <p class="price"><%= user.email %> </p>
            <h6><%= user.name %> </h6>
        </div>
            </a>
        </article>
        <% }) %>  
        
        </div>
    </section>
</main>

<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>