<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/productEdition.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

<!-- Register form -->

<main>
    <section class="editProduct-Section">
        <h2>Edit listing</h2>
        <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" class="register-form-Edit-Product" enctype="multipart/form-data">
            <div class="container-inputs">
                <article class="productNameContainer">
                <label for="name">Product Name</label>
                    <input type="text" name="name" class="productName" value="<%= product.name %>" required>
                </article>
                <article class="productBrandContainer">
                    <label for="brand_id">Brands</label>
                    <select name="brand_id" id="" required>
                        <% allBrand.forEach(brand => { %>
                        <option value="<%= brand.id %>" <% if (product.brand.id == brand.id) { %><%= 'selected' %><% }; %>><%= brand.name %></option>
                        <% }); %>
                    </select>
                </article>
                <article class="productDescriptionConteiner">
                    <label for="description">Description</label>
                    <textarea name="description" placeholder=" <%= product.description %>" required> <%= product.description %></textarea>
                </article>
                <article class="productExtraInfoConteiner">
                    <label for="extraInfo">Extra Info</label>
                    <textarea type="text" name="extraInfo" placeholder=" <%= product.extraInfo %>" required><%= product.extraInfo %></textarea>
                </article>
            </div>
            <div class="second-container-inputs">
                <article class="productPriceContainer" >
                    <label for="price">Price</label>
                        <input type="text" name="price" class="inputPrice" value="<%= product.price %>" placeholder="<%= product.price %>" required>
                </article>
                <article class="product-Categories-Container">
                    <label for="category">Categories</label>
                    <select  class="product-Categories"name="category" required>
                        <% allCategory.forEach(category => { %>
                        <option value="<%= category.id %>" <% if (category.product_id == category.id) { %><%= 'selected' %><% }; %>><%= category.name %></option>
                        <% }); %>
                    </select>
                        <!-- <Select class="product-Categories" name="category" value="< % = product.category % >" required>
                            <option value="Modules&Cases">Modules & Cases</option>
                            <option value="Sequencers">Sequencers</option>
                            <option value="Accesories">Accesories</option>
                            <option value="Effects">Effects</option>
                            <option value="WeirdGear">Weird Gear</option>
                            <option value="NewReleases">New Releases</option>
                        </Select> -->
                </article>
            </div>
            <article class="product-Images-Container">
                <section class="product-Images">
                    <label for="images">Images</label>
                        <input type="file" name="images" class="btn-File-Select" multiple accept=".jpg, .png" >
                            <img src="/img/products/<%= product.img %>">
                </section>
            <button type="submit" class="btn-modify-product">
                Modify listing
            </button>
            </form>
    </section>

</main>


<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>
